.assessments {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 65vh;
	width: 90vw;
	margin: 2rem auto;

	.heading {
		width: 90%;
		position: relative;

		&::before {
			content: "";
			background: url("./../../../assets/images/pexels-anni-roenkae-3109807.jpg")
				center center / cover no-repeat;
			opacity: 0.3;
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 0.5rem;
		}

		h2 {
			text-align: center;
			text-transform: uppercase;
			margin-top: 1rem;
		}
	}

	.carousel-container {
		display: flex;
		align-items: center;
		position: relative;
		overflow: hidden;
    width: 90%;

		.arrow {
			position: absolute;
			z-index: 1;

			&.left {
				left: 0;
			}

			&.right {
				right: 0;
			}
		}

		.cards-wrapper {
			display: flex;
			overflow-x: hidden;
			scroll-snap-type: x mandatory;
			-webkit-overflow-scrolling: touch;
			scroll-behavior: smooth;
      min-height: 30vh;
      width: 90%;
      margin: auto;

			mat-card {
				flex: 0 0 auto;
        align-items: center;
				scroll-snap-align: start;
        width: 14rem;
				margin: 1.5rem 0.7rem 1.5rem;
        padding: 2rem;

        mat-icon {
          height: 2rem;
          width: 2rem;
          fill: #e9fafc;
          padding: 0.9rem;
          border-radius: 50%;
        }

        h3 {
          font-size: 1.2rem;
          font-weight: 500;
        }

        .actions {
          display: flex;
          flex-direction: column;

          p {
            text-align: center;
          }

          button {
            text-transform: uppercase;
            font-size: 0.8rem;
            width: 11rem;
            margin: 0.5rem;
            border: 0.11rem solid #ac74d0;

            &:hover {
              background: linear-gradient(#76b8ef 10%, #ac74d0 70%, #f022ac 100%);
            }
          }
        }
			}
		}
	}
}
