<div class="assessments">
	<h3>Choose an Assessment</h3>

	<div class="heading">
		<h2>Frontend Web Development</h2>
	</div>
	<div class="cards-wrapper">
		<mat-card>
			<mat-icon>bedtime</mat-icon>
			<h3>HTML</h3>
			<button mat-button>Verbal Video ITSA</button>
			<button mat-button>Practical ITSA</button>
		</mat-card>
	</div>

	<div class="heading">
		<h2>Backend Web Development</h2>
	</div>
	<div class="cards-wrapper">
		<mat-card>
			<mat-icon>bedtime</mat-icon>
			<h3>HTML</h3>
			<button mat-button>Verbal Video ITSA</button>
			<button mat-button>Practical ITSA</button>
		</mat-card>
	</div>

	<div class="heading">
		<h2>Fullstack Development</h2>
	</div>
	<div class="cards-wrapper">
		<mat-card>
			<mat-icon>bedtime</mat-icon>
			<h3>HTML</h3>
			<button mat-button>Verbal Video ITSA</button>
			<button mat-button>Practical ITSA</button>
		</mat-card>
	</div>

</div>
