.content {
  min-height: 32.7vw;

  .heading{
    width: 50vw;
    text-align: center;
    margin: 3rem auto;

    h2 {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 3rem;
    }

    .itsa {
      text-decoration: underline;
    }
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    mat-card {
      margin: 1rem;
      padding: 2rem;
    }
  }
}
