<div class="home-content">
	<div class="heading">
    <h2>Vylentix</h2>
		<h3>
			Your Ultimate Destination<br> for Video-Based Independent Technical Skills Assessments, <br>available for Developers and Employers.
    </h3>
		<h4>
			Vylentix is the premier platform offering innovative, video-based <span
      #tooltip="matTooltip"
      matTooltip="Independent Technical Skills Assessments"
      matTooltipClass="itsa-tooltip"
      matTooltipPosition="above"
      matTooltipHideDelay="1000"
      aria-label="Button that displays a tooltip that hides when scrolled out of the container"
      class="itsa"
      >ITSAs</span
    > tailored for both
			developers and employers in the tech industry. Our unique approach to
			evaluating technical proficiency through dynamic video assessments sets us
			apart from the competition, making Vylentix the go-to destination for IT
			professionals and companies seeking top talent.
    </h4>
		<h4>
			By leveraging the power of video, Vylentix's ITSA allows developers to
			showcase their skills and expertise in an engaging, interactive format.
			Simultaneously, employers gain unparalleled insights into a candidate's
			abilities, ensuring the perfect match for their tech-based projects and
			requirements.
    </h4>
		<h4>
			Choose Vylentix for a comprehensive, video-driven ITSA experience that
			bridges the gap between skilled developers and forward-thinking employers
			in the ever-evolving technology landscape.
    </h4>
	</div>
	<div class="cards-wrapper">
		<mat-card>
			<h3>For Developers</h3>
		</mat-card>
		<mat-card>
			<h3>For Employers</h3>
		</mat-card>
	</div>
</div>
