<mat-toolbar class="mat-elevation-z2">
  <div class="logo">
    <a href="">
      <img src="../../../assets/images/logo-square.png" alt="">
    </a>
  </div>
  <nav>
    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/about" routerLinkActive="active">About</a>
    <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
    <a mat-button routerLink="/contact" routerLinkActive="active">Sign In</a>
    <a mat-button routerLink="/contact" routerLinkActive="active">Join</a>
  </nav>
  <div class="theme-switcher">
    <button (click)="toggleTheme()">switch</button>
  </div>
</mat-toolbar>
