<mat-toolbar>
  <div class="logo">
    <a href="">
      <img [src]="logoSrc" alt="">
    </a>
  </div>
  <nav>
    <a mat-button routerLink="/home" routerLinkActive="active">HOME</a>
    <a mat-button routerLink="/assessments" routerLinkActive="active">ITSAs</a>
    <a mat-button routerLink="/login" routerLinkActive="active">LOG IN</a>
    <a mat-button routerLink="/join" routerLinkActive="active">JOIN</a>
  </nav>
  <div class="theme-switcher">
    <mat-slide-toggle (click)="toggleTheme()" checked></mat-slide-toggle>
    <mat-icon>{{ isDarkTheme ? 'bedtime' : 'wb_sunny' }}</mat-icon>
  </div>
</mat-toolbar>
