<div class="about">
	<div class="heading">
		<h2>About Vitsantix</h2>
	</div>

	<mat-accordion>
		<mat-expansion-panel *ngFor="let about of aboutPanel">
			<mat-expansion-panel-header>
				<mat-panel-title>
					{{ about.title }}
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>{{ about.content }}</p>
		</mat-expansion-panel>
	</mat-accordion>

	<div class="heading">
		<h2>How We Plan to Achieve Our Goal:</h2>
	</div>
	<mat-accordion>
		<mat-expansion-panel *ngFor="let goal of goalsPanel">
			<mat-expansion-panel-header>
				<mat-panel-title>
					{{ goal.title }}
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p>{{ goal.content }}</p>
		</mat-expansion-panel>
	</mat-accordion>
</div>
