.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 65vh;
	width: 90vw;
	margin: 2rem auto;

	.heading {
		width: 80%;
		position: relative;
		z-index: 2;

		&::before {
			content: "";
			background: url("./../../../assets/images/pexels-anni-roenkae-3109807.jpg")
				center center / cover no-repeat fixed;
			opacity: 0.3;
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 0.5rem;
			box-shadow: 0 0 7px 2px #0000008b;
		}

		h2 {
			text-align: center;
			text-transform: uppercase;
			margin-top: 1rem;
		}
	}
	mat-accordion {
		width: 60vw;
		text-align: center;
		margin-bottom: 2rem;

    mat-expansion-panel-header {
      height: 3.5rem;
      mat-panel-title {
        justify-content: center;
        color: #a268c1;
        font-size: 1.15rem;
        text-transform: uppercase;
        font-weight: 500;
      }
    }

		p {
			font-size: 1rem;
			line-height: 1.7rem;
			padding: 0 2rem;
		}
	}
}
