:host {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	overflow: auto;

	&::before {
		content: "";
		background: url("./../../../assets/images/pexels-anni-roenkae-3109807.jpg")
			center center / cover no-repeat fixed;
		opacity: 0.4;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

.home-content {
	width: 60vw;
	margin: 2rem auto;
	padding: 2rem 3rem;
	border-radius: 1rem;
	box-shadow: 0 0 5px 3px #0000002a;

  .heading {
    h2 {
			text-transform: uppercase;
			font-size: 2rem;
			font-weight: 400;
			margin-bottom: 1rem;

      span {
				color: #a268c1;
			}
		}
  }

	.heading,
	.more-info {
		text-align: center;
		width: 80%;
		margin: auto;

		h3 {
			font-size: 1.5rem;
			line-height: 2.5rem;
			margin-bottom: 2rem;
		}

		h4 {
			.itsa {
				font-weight: 500;
				color: #a268c1;
			}
		}
	}

	.cards-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin-bottom: 1.5rem;

		mat-card {
			align-items: center;
			text-align: center;
			width: 45%;
			margin: 1rem;
			padding: 2rem;

			h3 {
				font-size: 1.2rem;
			}

			i {
				background: linear-gradient(#76b8ef 10%, #ac74d0 70%, #f022ac 100%);
				color: #e1e1e1;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 2rem;
				height: 3.5rem;
				width: 3.5rem;
				margin: 0.2rem 0 1.5rem;
				padding: 0.5rem;
				border-radius: 100%;
			}

			h2 {
				font-size: 1.5rem;
				line-height: 2rem;
			}

			p {
				font-size: 1.1rem;
				line-height: 1.5rem;
			}

			button {
				margin: 1rem 0;
				padding: 1rem 1.3rem;
				border: 0.11rem solid #a36fc3;

				&:hover {
					background: linear-gradient(#76b8ef 10%, #ac74d0 70%, #f022ac 100%);
					transform: scale(1.1);
					transition: all ease-in-out 0.3s;
				}
			}
		}
	}
}
