<mat-toolbar class="footer">
  <div class="social-links">
    <a href="https://www.linkedin.com/company/vitsantix" rel="noopener noreferrer nofollow" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>
    <a href="https://twitter.com/vitsantix" rel="noopener noreferrer nofollow" target="_blank"><i class="fa-brands fa-twitter-square fa-lg"></i></a>
    <a href="https://www.instagram.com/vitsantix/" rel="noopener noreferrer nofollow" target="_blank"><i class="fa-brands fa-instagram-square fa-lg"></i></a>
    <a href="https://www.facebook.com/vitsantix" rel="noopener noreferrer nofollow" target="_blank"><i class="fa-brands fa-facebook-square fa-lg"></i></a>
  </div>
  <div class="quick-links">
    <a mat-button mat-button routerLink="/fqa" routerLinkActive="active">FAQ</a>
    <a mat-button mat-button routerLink="/about" routerLinkActive="active">ABOUT</a>
    <a mat-button mat-button routerLink="/contact" routerLinkActive="active">CONTACT</a>
  </div>
  <div class="credit">
    <p>website by <a class="my-username" href="https://monacodelisa.com/" rel="noopener noreferrer" target="_blank">Esther White</a>
    </p>
  </div>
</mat-toolbar>
