.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 13rem;
	padding: 2rem;

	.social-links {
		margin: 2rem 0 1rem;
		a {
      display: inline-block;
			text-decoration: none;
      width: 2.5rem;
      height: 2.5rem;

			i {
				color: #444;

				&::before {
					background: linear-gradient(#f8a1cb, #84e0d1);
					-webkit-text-fill-color: transparent;
					-webkit-background-clip: text;
					background-clip: text;
				}

        &:hover {
          font-size: 2rem;
          transition: all ease-in-out 0.3s;
        }
			}
		}
	}

	.quick-links {
		margin-bottom: 1rem;
		a {
			font-size: 1rem;
			font-family: "Ubuntu", sans-serif;
			text-transform: uppercase;
			margin: 0 1rem 1rem;
			background-color: #bec0ce;
			box-sizing: border-box;

			&:hover {
				background: linear-gradient(#f8a1cb, #84e0d1);
				transform: scale(1.1);
				transition: all ease-in-out 0.3s;
			}
		}
	}

	.credit {
		p,
		a {
			font-size: 0.9rem;
      color: #bec0ce;
      text-decoration: none;
		}

    a {
      &:hover {
        color: #ca97e9;
      }
    }
	}
}
