<div class="home-content">
	<div class="heading">
		<h3>
			Your Ultimate Destination for Video-Based </h3><h2><span>I</span>ndependent <span>T</span>echnical <span>S</span>kill <span>E</span>valuations</h2> <h3>available for Developers and Employers.
    </h3>
		<h4>
			Choose TechSkillEval for a comprehensive, video-driven <span
      #tooltip="matTooltip"
      matTooltip="Independent Technical Skill Evaluations"
      matTooltipClass="itse-tooltip"
      matTooltipPosition="above"
      matTooltipHideDelay="1000"
      aria-label="Button that displays a tooltip that hides when scrolled out of the container"
      class="ITSE"
      >ITSE</span
    > experience that
			bridges the gap between<br> skilled developers and forward-thinking employers
			in the ever-evolving technology landscape.
    </h4>
	</div>
	<div class="cards-wrapper">
		<mat-card>
			<h3>For Developers</h3>
      <i class="fa-solid fa-laptop"></i>
      <h2>Say goodbye to <br>Impostor Syndrome!
      </h2>
      <p>Stop wondering if you're good enough. Demonstrate your qualifications to yourself, colleagues, and employers using our thorough evaluation.</p>
      <p>Elevate your career!</p>
      <a mat-button routerLink="/assessments">BOOK ITSE NOW</a>
		</mat-card>
		<mat-card>
      <h3>For Employers</h3>
      <i class="fa-solid fa-briefcase"></i>
      <h2>Say goodbye to <br> Pseudo Developers!
      </h2>
      <p>Ensure you're hiring top talent. Verify candidates' skills and expertise with our trustworthy evaluation and match abilities to claims.</p>
      <p>Hire with confidence!</p>
      <a mat-button routerLink="/assessments">BOOK ITSE NOW</a>
		</mat-card>
	</div>
  <div class="more-info">
		<h4>
			TechSkillEval is the premier platform offering innovative, video-based <span
      #tooltip="matTooltip"
      matTooltip="Independent Technical Skills Assessments"
      matTooltipClass="ITSE-tooltip"
      matTooltipPosition="above"
      matTooltipHideDelay="1000"
      aria-label="Button that displays a tooltip that hides when scrolled out of the container"
      class="ITSE"
      >ITSE</span
    >s tailored for both
			developers and employers in the tech industry. Our unique approach to
			evaluating technical proficiency through dynamic video evaluations sets us
			apart from the competition, making TechSkillEval the go-to destination for IT
			professionals and companies seeking top talent.
    </h4>
		<h4>
			By leveraging the power of video, TechSkillEval's ITSE allows developers to
			showcase their skills and expertise in an engaging, interactive format.
			Simultaneously, employers gain unparalleled insights into a candidate's
			abilities, ensuring the perfect match for their tech-based projects and
			requirements.
    </h4>
  </div>
</div>
