.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4rem 0 6rem;
  min-height: 42.5vh;

	.heading {
		width: 30vw;
		position: relative;
    z-index: 5;

		&::before {
			content: "";
			background: url("./../../../assets/images/background.jpg")
				center center / cover no-repeat fixed;
			opacity: 0.3;
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 0.5rem;
			box-shadow: 0 0 7px 2px #0000008b;
		}

		h2 {
			text-align: center;
			text-transform: uppercase;
			margin-top: 1rem;
		}
	}

	mat-card {
		width: 20vw;
    padding: 2rem;

    button {
      font-size: 1.2rem;
      text-transform: uppercase;
      width: auto;
      height: 2.7rem;
      margin: 0 1rem;
      background-color: #AACBCF;
      border-radius: 0.25rem;

      &:hover {
        background: linear-gradient(#f8a1cb, #84e0d1);
      }
    }
	}
}
